#MacOS
.DS_Store

#node_modules
03-base-node/node_modules
04-app-tasks/node_modules
05-app-weather/node_modules
06-webserver/node_modules
07-restserver/node_modules
08-restserver/node_modules
09-restserver/node_modules

#env
05-app-weather/.env
08-restserver/.env
09-restserver/.env

#created files
#04-app-tasks/db/*